*::after{
    font-family: inherit;
    box-sizing: border-box;
    cursor:crosshair;
 }
body {
    text-transform: lowercase;
    margin:0;
    font-family: "Helvetica", sans-serif;
    font-weight:300;
    font-size:1.5rem;
    display:grid;
    grid:
    "header header header header" auto
    ". lists active ." auto /
    1fr minmax(250px, 500px) minmax(250px, 500px) 1fr;
}
.title{
    grid-area:header;
    text-align:center;
    font-size:calc(5vw + 1.7em);
    font-weight:bold;
    letter-spacing: -5px;
    margin: -15px;
}
.all-tasks{
    grid-area:lists;
}
.task-list{
    font-size:1.1rem;
    line-height:0.9;
    padding-left:1.1em;
}
.list-name{
    transition: opacity 250ms ease-in;
}
.list-name:hover{
    opacity: 0.7;
}
.new-input {
    background:transparent;
    border:0;
    color:#000;
    width:85%;
    border-bottom:1px solid #000;
    font-size:1.1rem;
    outline:none;
    text-align: right;
    padding:0.25em;
}
.new-input::placeholder{
    opacity: 0.7;
    transition: opacity 250ms ease-in-out;
}
.new-input:focus::placeholder {
    opacity:0.5;
}
.button{
    background:transparent;
    border:0;
    color:#000;
    font-size: 0.9rem;
    outline:none;
    transition: opacity 250ms ease-in;
}
.button:hover {
    opacity: 0.5;
}
.button.task{
    font-size: 0.9rem;
    font-weight: bold;
}
.button.delete:focus {
    opacity:0.5;
}
.active-list{
    font-weight:700;
}
.todo-lists{
    grid-area:active;
    background:transparent;
}
.todo-header {
    padding:1rem;
}
.list-title {
    margin:0;
}
.task-count{
    margin:0;
    font-size:1rem
}
.todo-body {
    font-size:1.1rem;
    padding:1rem;
}
[type="checkbox"] {
    opacity:0;
    position:absolute;
}
.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
}
.task::after{
    content:"";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height:0.1px;
    opacity: 0.1;
}
[type="checkbox"]:checked + label {
    opacity: 0.5;
}
.task label::after {
    content:'';
    position: absolute;
    left:0;
    right:0;
    height:2px;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 300ms ease-in-out;
}
[type="checkbox"]:checked + label::after{
    transform:scaleX(1);
    transform-origin:left;
}
.delete {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    left:0;
}